<div class="panel panel-default">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 id="myModalLabel">{{selectedMessage?.subject}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b>From: {{selectedMessage?.From}}</b>
                        </div>
                        <div class="col-md-6">
                            <p>Sent on: {{selectedMessage?.sentOn | date:'medium'}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table style="font-size:small; width:100%;">
                                <tr *ngFor="let message of messageThread">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>From: {{message?.From}}</b>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Sent on: {{message?.sentOn | date:'medium'}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <p>{{message?.messageText}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                        <!--<div class="row">
                            <p>{{selectedMessage?.messageText}}</p>
                        </div>-->
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary" (click)="enableReply()">Reply</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="allowReply">
                        <div class="col-md-10">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" [(ngModel)]="replyMessageText" placeholder="Enter your message here" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-secondary" (click)="discard()">Discard</button>
                            <button type="button" class="btn btn-primary" *ngIf="allowReply" (click)="reply()">Send Reply</button>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeMessage()">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                Inbox
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" title="Refresh" (click)="refreshInbox()">
                        <span class="glyphicon glyphicon-refresh"></span>
                      </button>
            </div>
        </div>

        <table class="table table-striped" [mfData]="inboxMessages" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th style="width: 10%">
                        <mfDefaultSorter by="Sender">Sender</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="Urgency">Urgency</mfDefaultSorter>
                    </th>
                    <th style="width: 60%">
                        <mfDefaultSorter by="Message">Message</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="Date">Date</mfDefaultSorter>
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let message of mf.data" [ngClass]="{read: !message.isRead}" (click)="openMessage(message)">
                    <td><a href="javascript:void(0);">{{message.From}}</a></td>
                    <td><a href="javascript:void(0);">Low</a></td>
                    <td><a href="javascript:void(0);">{{message.subject | slice:0:50}}</a></td>
                    <td><a href="javascript:void(0);">{{message.sentOn | date:'medium'}}</a></td>
                    <td>
                        <button class="btn btn-danger" title="remove" (click)="removeItem(message)">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>